
<div class="top-middle-card mt-0 text-center position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
  <div class="card">
    <% if @booking.lego.photo.attached? %>
      <%= cl_image_tag @booking.lego.photo.key, height: 300, crop: :fill, class: "w-100" %>
    <% end %>
    <div class="card-body">
      <h2 class="mb-4">Congratulations!</h2>
      <h5>Booking confirmed</h5>
      <h4 class="mt-4"><b><%= @booking.lego.title %></b></h4>
      <h6 class="mb-3">from <%= @booking.start_date %></h6>
      <h6 class="mb-4">to <%= @booking.end_date %></h6>
      <%= link_to "My Bookings", dashboard_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
