<div class="map"></div>

<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="lego-show-card">
        <h1><%= @lego.title %></h1>
        <% if @lego.photo.attached? %>
        <%= cl_image_tag @lego.photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
        <p class="lego-show-address"><%= @lego.location %></p>
      </div>
      <div class="lego-show-card">
        <h3>A bit more about this lego...</h3>
        <p><%= @lego.description %></p>
      </div>
    </div>

    <div class="col-4">
      <div class="lego-show-card">
        <h5>Book this Lego Master Piece!</h5>

        <%# <form action="">
          <div class="input-group">
            <span class="input-group-text" id="start-date-label">From:</span>
            <input type="text" class="form-control" placeholder="12/10/2017" aria-label="start-date" aria-describedby="start-date-label">
          </div>
          <div class="input-group mt-2">
            <span class="input-group-text" id="end-date-label">To:</span>
            <input type="text" class="form-control" placeholder="18/10/2017" aria-label="end-date" aria-describedby="start-date-label">
          </div>
          <input type="submit" value="Book" class="btn btn-success mt-2" style="width: 100%">
        </form> %>
      </div>
      <div class="lego-show-card">
        <h3>Details</h3>
        <div class="flex">
          <div class="flex ms-3">
            <%= @lego.title %>€
          </div>
          <div class="flex ms-3">
            <%= @lego.price %>€
          </div>
        </div>
      </div>
      <div class="lego-show-card">
        <div class="flex-align">
          <h6 class="no-mb">Share</h6>

          <div class="flex">
            <i class="fa-brands fa-facebook-square me-2"></i>
            <i class="fa-brands fa-twitter-square me-2"></i>
            <i class="fa-brands fa-pinterest-square me-2"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
