<div class="map"></div>

<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="lego-show-card">
        <h1><%= @lego.title %></h1>
        <% if @lego.photo.attached? %>
        <%= cl_image_tag @lego.photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
        <p class="lego-show-address"><%= @lego.location %></p>
      </div>
      <div class="lego-show-card">
        <h3>A bit more about this lego...</h3>
        <p><%= @lego.description %></p>
      </div>
    </div>


    <div class="col-4">
      <div class="lego-show-card">
        <h5>Book this Lego Master Piece!</h5>

          <%= simple_form_for [@lego, @booking] do |f| %>
            <div class="input-group">
              <%= f.input :start_date, label: "From:" %>
            </div>
            <div class="input-group mt-2">
              <%= f.input :end_date, label: "To:"%>
            </div>
            <%= f.button :submit, class: "btn btn-success mt-2 w-100", value: "Book" %>
          <% end %>


      </div>
      <div class="lego-show-card">
        <h3>Details</h3>
        <div class="flex">
          <div class="flex ms-3"> <%= @lego.title %></div>
          <div class="flex ms-3"> <%= @lego.price*rand(1...10) %>€ </div>
        </div>
      </div>
      <div class="lego-show-card">
        <div class="flex-align">
          <h6 class="no-mb">Share</h6>

          <div class="flex">
            <i class="fa-brands fa-facebook-square me-2"></i>
            <i class="fa-brands fa-twitter-square me-2"></i>
            <i class="fa-brands fa-pinterest-square me-2"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
