
<div class="container mt-3">
  <div class="row">
    <div class="col-8">
      <div class="lego-show-card lego-card">
        <h1 class="lego-heading">A bit more about this lego...</h1>

          <div class="lego-card">
            <% if @lego.photo.attached? %> <%= cl_image_tag @lego.photo.key, height: 300, crop: :fill, class:"w-100"%> <% end %>
              <div class="lego-card-content">
                  <div class="lego-card-title">
                      <div class="flex">
                        <h4 class="card-title"><%= @lego.title %></h4>
                      </div>
                  </div>
                  <p class="card-location"><%= @lego.location %></p>
                  <div class="flex align-items-center">
                    <p class="card-description"><%= @lego.description %></p>
                  </div>
              </div>
          </div>


              <div class="container mt-8">
                <%= simple_form_for [@lego, @review] do |f| %>
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <%= f.label :rating, class: 'form-label' %>
                      <%= f.input :rating, collection: 0..5, label: false, include_blank: 'Select Rating', class: 'form-select' %>
                    </div>
                    <div class="col-md-6 mb-3">
                      <%= f.label :content, class: 'form-label' %>
                      <%= f.input :content, label: false, class: 'form-control', rows: 6, placeholder: 'Enter your content here' %>
                    </div>
                  </div>
                  <div class="d-flex justify-content-center">
                    <%= f.button :submit, 'Submit', class: 'btn btn-danger text-white' %>
                  </div>
                <% end %>
              </div>

          <div class="container mt-5">
            <ul class="list-group">
              <% @lego.reviews.reverse_each do |review| %>
                <li class="list-group-item">
                  <div class="d-flex align-items-center">
                    <small>
                      <% 5.times do |count| %>
                        <% if review.rating > count %>
                          <i class="fa-solid fa-star text-danger" style="font-size: 25px;"></i>
                        <% else %>
                          <i class="fa-regular fa-star text-danger" style="font-size: 25px;"></i>
                        <% end %>
                      <% end %>
                    </small>
                    <p class="ms-3"><%= review.content %></p>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>

</div>
</div>
<div class="col-4">
  <div class="lego-show-card">
    <h5>Book this Lego Master Piece!</h5>
    <%= simple_form_for [@lego, @booking] do |f| %>
      <div class="input-group">
        <%= f.input :start_date, label: "From:" %>
      </div>
      <div class="input-group mt-2">
        <%= f.input :end_date, label: "To:" %>
      </div>
      <%= f.button :submit, class: "btn btn-danger mt-2 w-100", value: "Book" %>
    <% end %>
  </div>

  <div class="lego-show-card">
    <h3>Details</h3>

    <div class="flex">
      <div class="flex ms-3">
        <%= @lego.title %>
      </div>
      <div class="flex ms-3">
        <%= @lego.price * rand(1...10) %>€
      </div>
    </div>
  </div>

  <div class="lego-show-card">
    <div class="flex-align">
      <h6 class="no-mb">Share</h6>
      <div class="flex">
        <i class="fa-brands fa-facebook-square text-danger me-2" style="font-size: 45px;"></i>
        <i class="fa-brands fa-twitter-square text-danger me-2" style="font-size: 45px;"></i>
        <i class="fa-brands fa-pinterest-square text-danger me-2" style="font-size: 45px;"></i>
      </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  </div>
