<div class="navbar fixed-top sticky-top bg-white navbar-visitor navbar-light navbar-expand-lg py-lg-0">
      <div class="container justify-content-between ">
                  <%= link_to root_path do %>
                    <%= image_tag "logo.png", class: "small-logo" %>
                  <% end %>
            </div>
              <div>
                <ul class="navbar-nav me-auto">
                  <% if user_signed_in? %>
                    <li>
                      <%= link_to "Main list", legos_path, class:"main-btn btn btn-outline-success me-2" %>
                    </li >
                    <li>
                      <%= link_to "My account", dashboard_path, class:"main-btn btn btn-outline-success me-2" %>
                    </li>
                    <li>
                      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "main-btn btn btn-outline-success me-2" %>
                    </li>
                          <%# <li class="nav-item dropdown">  %>
                    <%# <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> %>
                      <%# image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
                    <%# </a> %>
                      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <%= link_to "Action", "#", class: "dropdown-item" %>
                        <%= link_to "Another action", "#", class: "dropdown-item" %>
                        <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
                      </div>
                    </li>
                  <% else %>
                    <li class="nav-item">
                      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
                    </li>
                  <% end %>
                </ul>
              </div>

  </div>
