<div class="container">

  <div>
    <h2 class="lego-heading"><%=current_user.username%>'s account</h2>
       <div class="avatar-pic">
         <% if current_user.photo.attached? %> <%= cl_image_tag current_user.photo.key, height: 300, crop: :fill, class:"w-100"%><% end %>
       </div>
      <p class="lego-heading2">About me: <%= current_user.bio %></p>
      <p class="lego-heading2">Email: <%= current_user.email %></p>
 <div>

  </div>

  <div class="my-legos row">
    <h2 class="lego-heading3">My legos:</h2>
    <div class="flex">
      <div class="lego-heading4"><%= link_to "Create a new listing!", new_lego_path %></div>
    </div>
    <% current_user.legos.each do |lego| %>
      <div class="col-md-4">
           <div class="lego-card">
            <% if lego.photo.attached? %> <%= cl_image_tag lego.photo.key, height: 300, crop: :fill, class:"w-100"%><% end %>
              <div class="lego-card-content">
                  <div class="lego-card-title">
                      <div class="flex">
                        <h4 class="card-title"><%= lego.title %></h4>
                      </div>
                  </div>
                  <p class="card-location"><%= lego.location %></p>
                  <div class="flex align-items-center">
                    <p class="card-description"><%= lego.description.truncate(65) %></p>
                  </div>
              </div>
            <div class="lego-card-footer justify-content-around">
                    <div class="lego-card-avatar">  <%= image_tag "logo.png", class: "small-logo" %></div>
              <div class="lego-card-details">
                <div class="lego-card-actions"> <%= link_to "More info", lego_path(lego), class: "btn btn-primary" %></div>
                <div class="lego-card-price"> <i class="fa-solid fa-euro-sign"></i> <span><%= lego.price %></span></div>
              </div>
            </div>
        </div>

      </div>
    <% end %>
  </div>
<br>
<br>

  <div class="my-legos row">
    <h2 class="lego-heading3">My bookings:</h2>
    <% current_user.bookings.each do |booking| %>
      <div class="col-md-4">
           <div class="lego-card">
            <% if booking.lego.photo.attached? %> <%= cl_image_tag booking.lego.photo.key, height: 300, crop: :fill, class:"w-100"%><% end %>
              <div class="lego-card-content">
                  <div class="lego-card-title">
                      <div class="flex">
                        <h4 class="card-title"><%= booking.lego.title %></h4>
                      </div>
                  </div>
                  <p class="card-location"><%= booking.lego.location %></p>
                  <div class="flex align-items-center">
                    <p class="card-description"><%= booking.lego.description.truncate(65) %></p>
                  </div>
              </div>
            <div class="lego-card-footer justify-content-around">
                    <div class="lego-card-avatar">  <%= image_tag "logo.png", class: "small-logo" %></div>
              <div class="lego-card-details">
                <div class="lego-card-price"> <i class="fa-solid fa-euro-sign"></i> <span><%= booking.lego.price %></span></div>
              </div>
              <div class="booking-dates">
                    <p class="card-title" style="color: red;">From the <%= booking.start_date %></p>
                    <p class="card-title" style="color: red;">Until the <%= booking.end_date %></p>
                    <%= link_to '', lego_path(booking.lego.id), class: 'card-link'  %>
                </div>
            </div>
        </div>

      </div>
    <% end %>
  </div>
