<div class="container">
 <div>
    <h2><%=current_user.username%>'s account</h2>
    <p>About me: <%= current_user.bio %></p>
    <p>Email: <%= current_user.email %></p>
  </div>
  <div class="my-legos row">
    <h2>My legos:</h2>
    <div class="flex">
      <div class="main-btn btn btn primary"><%= link_to "Create a new listing!", new_lego_path %></div>
    </div>
    <% current_user.legos.each do |lego| %>
      <div class="col-md-4">
        <div class="lego-card">
          <% if lego.photo.attached? %> <%= cl_image_tag lego.photo.key, height: 300, crop: :fill, class:"w-100"%><% end %>
          <div class="lego-card-content">
            <div class="lego-card-title">
              <h4><%= lego.title %></h4>
            </div>
            <p><%= lego.location %></p>
            <div class="flex">
              <div class="flex justify-content-around">
                <div class="flex align-items-center ms-3"><i class="fa-solid fa-euro-sign"></i> <span><%= lego.price %></span></div>
              </div>
            </div>
          </div>
          <%= link_to '', lego_path(lego), class: 'card-link'  %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="my-bookings row">
    <h2>My bookings:</h2>
      <% current_user.bookings.each do |booking| %>
      <div class="col-md-4">
        <div class="lego-card">
            <% if booking.lego.photo.attached? %>
              <%= cl_image_tag booking.lego.photo.key, height: 300, crop: :fill, class:"w-100"%>
            <% end %>
          <div class="lego-card-content">
            <div class="lego-card-title">
              <h4><%= booking.lego.title %></h4>
            </div>
            <p><%= booking.lego.location %></p>
            <div class="flex">
              <div class="flex justify-content-around">
                <div class="flex align-items-center ms-3"><i class="fa-solid fa-euro-sign"></i> <span><%= booking.lego.price %></span></div>
              </div>
            </div>
            <div class="booking-dates">
              <p>From the <%= booking.start_date %></p>
              <p>Until the <%= booking.end_date %></p>
            </div>
          </div>
          <%= link_to '', lego_path(booking.lego.id), class: 'card-link'  %>
        </div>
      </div>
      <% end %>
  </div>
</div>
